<p id="notice"><%= notice %></p>

<h1>All link requests from a particular user</h1>

<table>
  <thead>
    <tr>
      <th>Link_request Id</th>
      <th>User Id</th>
      <th>Login</th>
      <th>Card Id</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>



<br>